<h2>Listing books </h2>
<table>
	<tr>
		<th>Title</th>
		<th>Author</th>
	<tr>
<% Book.all.each do |book| %>
	<tr>
		<td><%=link_to book.title, book %></td>
		<td><%=link_to book.author.name + " " + book.author.last_name, book.author %></td>
	</tr>
<% end %>
</table>
