<section class="books-section">
	<h2 class="table-title">Books on the library </h2>
	<table class="books-table">
		<% Book.all.each do |book| %>
		<tr>
			<td class="book-column column-title"><%=link_to book.title, book %></td>
			<td class="book-column column-author"><%=book.author.name + " " + book.author.last_name %></td>
			<td class="book-column column-year"><%=book.year %></td>
			<td class="book-column column-request"><%=link_to Request, requests_path(book), method: :post %></td>
		</tr>
	<% end %>
	</table>
</section>

