<h2>Book's information</h2>

<p>Title: <%= @book.title %></p>
<p>Title: <%= link_to @book.author.name + " " + @book.author.last_name, @book.author %></p>
<p>Title: <%= @book.year %></p>
<p>Title: <%= @book.ISBN %></p>

