.books-section {
  text-align: center;
}

.books-table {
  margin: 0 auto;
  border-collapse: collapse;
}

.table-title {
  font-family: ButlerBold, sans-serif;
  color: black;
  font-size: 36pt;
  text-align:center;
}

.book-column {
  font-family: Lato, sans-serif;
  font-size: 18pt;
  padding: 10px 15px;
  border-width: 0.5px 0;
  border-color: black;
  border-style: solid;
}

.column-author, .column-year {
  font-weight: 300;
}

.column-request, .column-request-notlogged {
    font-size: 14pt;
    text-decoration: underline;
  }

.request-button{
  float: right;
  border: 1px outset black;
  background-color: black;
  height:40px;
  width:100px;
  cursor:pointer;
  font-size: 12pt;
  font-family: Lato, sans-serif;
  color: white;
}

.close-button{
  float: left;
  border: 1px outset #bfbfbf;
  background-color: #bfbfbf;
  height:40px;
  width:100px;
  cursor:pointer;
  font-size: 12pt;
  font-family: Lato, sans-serif;
  color: black;
}

.date-modal-body {
  padding: 15px 0;
}

.input-group.date {
  padding: 0 15px;
}

@media(max-width: 600px){

  .close-button{
    position: relative;
    left: 0px;
  }

}

