<!DOCTYPE html>
<html>
<head>
  <title>LibraryTTGuillermo</title>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>The Library</h1>
  <% if current_user %>
  <p><%=link_to current_user.email, users_path %></p>
  <p> My books </p>
  <% else %>
  <p> Invitado </p>
  <% end %>

  <%= yield %>

</body>
</html>
